# Byte-compiled / optimized / DLL files
*__pycache__*
*.py[cod]
*$py.class
*cache*

# Testing
dev/

# Distribution / packaging
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg

# Sphinx documentation
docs/build/

# virtualenv
venv/
ENV/
env/
activate.bat
deactivate.bat

setup.sh
